* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loader {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  height: 100vh;
}
.circle {
  width: 30px;
  height: 30px;
  background-color: rgb(98, 190, 215);
  border-radius: 50%;
  animation: change-size 3s infinite normal;
}
.second {
  animation-delay: 0.6s;
}
.third {
  animation-delay: 1.2s;
}
.forth {
  animation-delay: 1.8s;
}
.fifth {
  animation-delay: 2.4s;
}
@keyframes change-size {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.2);
  }
}
